<a href="https://colab.research.google.com/github/EricWilkin/winter-2025/blob/main/webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
respone = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [5]:
Soup = BeautifulSoup(respone, 'html.parser')

In [6]:
Soup.find('table').find_all('tr', class_='employee')

[<tr class="employee">
 <td>101</td>
 <td>John Doe</td>
 <td>28</td>
 </tr>,
 <tr class="employee">
 <td>102</td>
 <td>Jane Smith</td>
 <td>32</td>
 </tr>,
 <tr class="employee">
 <td>103</td>
 <td>Robert Johnson</td>
 <td>24</td>
 </tr>,
 <tr class="employee">
 <td>104</td>
 <td>Mary Johnson</td>
 <td>29</td>
 </tr>,
 <tr class="employee">
 <td>105</td>
 <td>Michael Brown</td>
 <td>35</td>
 </tr>,
 <tr class="employee">
 <td>106</td>
 <td>Susan Davis</td>
 <td>27</td>
 </tr>,
 <tr class="employee">
 <td>107</td>
 <td>David Wilson</td>
 <td>31</td>
 </tr>,
 <tr class="employee">
 <td>108</td>
 <td>Linda Miller</td>
 <td>33</td>
 </tr>]

In [7]:
Soup.find('table').find_all('tr', class_='employee')[0]

<tr class="employee">
<td>101</td>
<td>John Doe</td>
<td>28</td>
</tr>

In [8]:
Soup.find('table').find_all('tr', class_='employee')[0].find_all('td')[1].text

'John Doe'

In [9]:
for employee in Soup.find('table').find_all('tr', class_='employee'):
    print(employee.find_all('td')[1].text)

John Doe
Jane Smith
Robert Johnson
Mary Johnson
Michael Brown
Susan Davis
David Wilson
Linda Miller

In [10]:
id = []
name = []
age = []
for employee in Soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [11]:
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [12]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [13]:
id

['101', '102', '103', '104', '105', '106', '107', '108']

In [14]:
df = pd.DataFrame({
    'id' : id,
    'name' : name,
    'age' : age})

In [15]:
df.head()

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35

In [16]:
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [22]:
# What is the average age of employees found at the link above?

df['age'] = df['age'].astype(int)
average_age = df['age'].mean()
print(df)
print("\nAverage Age:", average_age)

    id            name  age
0  101        John Doe   28
1  102      Jane Smith   32
2  103  Robert Johnson   24
3  104    Mary Johnson   29
4  105   Michael Brown   35
5  106     Susan Davis   27
6  107    David Wilson   31
7  108    Linda Miller   33

Average Age: 29.875

In [24]:
# What is the standard deviation of employees found at the link above (according to pandas)? Round final answer to two decimal places.
std_dev = df['age'].std()
print("Standard Deviation:", round(std_dev, 2))

Standard Deviation: 3.56